@import "tailwindcss";

@font-face {
  font-family: 'font-minima';
  src: url('/fonts/MinimaExpandedSSiBoldExpanded.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-minima {
  font-family: 'font-minima', sans-serif;
}

@font-face {
  font-family: 'font-poppins-el';
  src: url('/fonts/Poppins-ExtraLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'font-poppins-eli';
  src: url('/fonts/Poppins-ExtraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-poppins-eli {
  font-family: 'font-poppins-eli', sans-serif;
}

@font-face {
  font-family: 'font-popppins-mi';
  src: url('/fonts/Poppins-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-poppins-mi {
  font-family: 'font-poppins-mi', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

body{
  background-color: #000000;
  font-family: 'font-poppins-el', sans-serif;
}

/* Ocultar scrollbar manteniendo funcionalidad */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}


